#contenedor_info_usuario{
    position: relative;
    float: left;
    width: 75%;
    margin-top: 10px;
    height: 100%;
    background: blue;
}
.p_info{
    margin-left: 400px !important;
    float: left;
}

#img_edit{
    width: 10px !important;
    height: 10px !important;
}